.Container {
  background: #cacaca;
  margin: 2rem auto;
  width: 350px;
  height: 85vh;
  max-height: 700px;
  display: grid;
  grid-template-rows: 24% 73%;
  gap: 0.5rem;
  font-size: 1.4rem;

  #display {
    display: grid;
    justify-items: end;
    width: calc(100%-0.625rem);
    height: calc(100%-0.625rem);
    padding: 0.625rem;
    background: #cacaca;

    .formula {
      align-self: center;
    }

    .answer {
      align-self: center;
      font-size: 3rem;

    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.05rem;
    justify-content: center;
    margin: 0 0.4rem;

    .btn {
      display: flex;
      background: #b4b4b4;
      background-position: center;
      transition: background 0.8s;
      // box-shadow: 0 0 2px #807f7f;
      border-radius: 2px;
      padding: 0.2rem 0.8rem;
      margin: 0.2rem;
      justify-content: center;
      align-items: center;
      cursor: pointer;


      &:hover {
        background: #a0a0a0 radial-gradient(circle, transparent 1%, #a0a0a0 1%) center/15000%;
        border: 0.5px #929292 solid;
      }

      &:active {
        background-color: #e1e1e1;
        background-size: 100%;
        transition: background 0s;
      }

    }

    .opsBtn {
      background: #e0e0e0;
    }

    #equals {
      background-color: #0084ff;

      &:hover {
        background: #3998f1 radial-gradient(circle, transparent 1%, #3998f1 1%) center/15000%;
        border: 0.5px #0084ff solid;
      }

      &:active {
        background-color: #e1e1e1;
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
}